/* ==UserStyle==
@name           Font Changer - For all website
@namespace      arv-anshul
@version        2.0.0
@description    A new userstyle to change font for all website.
@author         arv-anshul

/* VARIABLES - STARTS *\/
@advanced dropdown font-family "Font Style" {
	2 "Baloo 2" <<<EOT 'Baloo 2' EOT;
	default "# Defualt #" <<<EOT -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" EOT;
	custom "# Custom #" <<<EOT /*[[custom-font]]*\/ EOT;
	5 "PT Sans" <<<EOT 'PT Sans' EOT;
	6 "Poppins" <<<EOT 'Poppins' EOT;
	9 "Trebuchet MS" <<<EOT 'Trebuchet MS' EOT;
}

@advanced text custom-font "Custom Font [If Enabled]" "Katari"

@advanced range spacing "Letter Spacing" [-0.2,-2,2, 0.2,'px']

@advanced text adjusted-font-size "Relative font size (defualt: unset)" "unset"

@advanced dropdown stylus-font "Font Style for STYLUS" {
	PT "PT Mono*" <<<EOT 'PT Mono' EOT;
	0 "Courier New" <<<EOT 'Courier New' EOT;
	2 "JetBrains Mono" <<<EOT 'JetBrains Mono' EOT;
	4 "Operator Mono Lig" <<<EOT 'Operator Mono Lig' EOT;
	default "# Defualt #" <<<EOT Menlo EOT;
	custom "# Custom #" <<<EOT /*[[code-font]]*\/ EOT;
}

@advanced text code-font "Custom Font [If Enabled]" "JetBrains Mono, Monaco"

==/UserStyle== */
@-moz-document url-prefix("https://")
{
  /* All Websites */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");

  :root {
    --family: /*[[font-family]]*/ ;
    --stylus-font: /*[[stylus-font]]*/ ;
    --spacing: /*[[spacing]]*/ ;
    --adjusted-font-size: /*[[adjusted-font-size]]*/ ;
    --font-family: var(--family);
    --font: var(--family);
  }

  body,
  html,
  #__next {
    font-family: var(--family) !important;
    font-size-adjust: var(--adjusted-font-size);
    letter-spacing: var(--spacing);
  }

  /* quora.com */
  div.q-box[width="314"] {
    display: none;
  }

  #mainContent {
    width: 80% !important;
    margin: auto;
  }

  /* stackoverflow */
  div.ff-sans.z-nav-fixed {
    display: none;
  }

  /* Campusx */
  #cookiePopupForm {
    display: none;
  }

  /* GFG */
  body.single .article-page_flex .leftBar {
    flex-basis: unset;
    max-width: none;
    min-width: unset;
  }

  #gfg-footer,
  .cookie-consent,
  .login-modal-div {
    display: none !important;
  }
}

@-moz-document url-prefix("moz-extension://")
{
  /* Stylus Extension */
  .CodeMirror {
    font-family: var(--stylus-font);
  }
}

@-moz-document domain("github.com"),
url-prefix("https://raw.githubusercontent.com/")
{
  /* GitHub */
  body {
    font-family: "JetBrains Mono", "Operator Mono Lig" !important;
    letter-spacing: -0.3px;
  }

  td,
  th,
  td span,
  code,
  pre span,
  pre {
    font-family: "Operator Mono Lig" !important;
    font-size-adjust: 0.55;
  }
}
